
@{
    ViewBag.Title = "Index";
}

<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; min-height: 500px;">
    <div style="display: flex; gap: 20px; border: 0.5px solid gray; border-radius: 5px; padding: 10px 20px; text-align: center">
        <a href="/Category/Index"
           style="padding: 10px 20px; text-decoration: none; color: #fff; background-color: #28a745; border: none; border-radius: 5px; font-size: 16px; width: 100px"
           onmouseover="this.style.backgroundColor='#218838';"
           onmouseout="this.style.backgroundColor='#28a745';">Category</a>

        <a href="/Book/Index"
           style="padding: 10px 20px; text-decoration: none; color: #fff; background-color: #007bff; border: none; border-radius: 5px; font-size: 16px; width: 100px"
           onmouseover="this.style.backgroundColor='#0069d9';"
           onmouseout="this.style.backgroundColor='#007bff';">Book</a>
    </div>
</div>

